
.minor_path{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);

}

.main_path{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.detail_box{
    padding-bottom: 118px;
}

.productCardDetailName{
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;


}


.color_button_box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;


}

.color_button_box button:hover{
    background-image: url("../../images/itemDetailPage/color.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.color_butoon1{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #4F4631;
    border-style: none;
}

.color_butoon2{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #314F4A;
    border-style: none;
}


.color_butoon3{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #462F47;
    border-style: none;
}

.color_text{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 16px;        
}

.detail_box{
    
    padding-top: 41px;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    background: #F0F0F0;
    border-radius: 62px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);


}

.sizes:hover{
    background-color: black;
    color: white;
    font-weight: 500;
}

.product_count_box{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 20px;
    gap: 12px;
    background: #F0F0F0;
    border-radius: 62px;


}

.product_count_box button{
    border-style: none;
}

.add_to_cart_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 54px;
    gap: 12px;
    background: #000000;
    border-radius: 62px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border-style: none;


}

.detail_reviews_category div h2{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    leading-trim: both;
    text-edge: cap;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 24px;
}




.detail_reviews_category div h2:hover{
    border-bottom: 2px solid #000000;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    color: #000000;
    padding-bottom: 24px;


    

    
}

.count_btn{
    background: none;
}