.header_box1{
    background-color: black;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    height: 38px;

}

.hidden{
    display: none;
}
.header_box1_title p{
    margin: 0;
    color: #FFFFFF;
}

.header_box1_title p a{
    color: #FFFFFF;
}