.abc{
    background: #F0F0F0;

}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 140px;
    padding-bottom: 50px;
    border-bottom: 1px solid #D8D8D8;

}



.footer_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
}

.footer_description{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 25px;
    padding-bottom: 35px;

}


.footer_title{
    width: 98px;
    height: 18px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 35px;
}
.footer_text{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);

}


.footer_description_title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    padding: 25px 0px 88px 0px; 
}


/* Frame 52 */

/* Auto layout */




